repos:
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: golangci-lint-mod
        args: [--fix]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm --prefix frontend run lint
        language: system
        files: ^frontend
        pass_filenames: false
