version: "3.9"

services:
  app:
    image: ghcr.io/gabe565/portfolio
    build:
      args:
        FONTAWESOME_NPM_AUTH_TOKEN: "$FONTAWESOME_NPM_AUTH_TOKEN"
        INSTALL_XDEBUG: "false"
        MIX_GOOGLE_API_KEY: "$MIX_GOOGLE_API_KEY"
        NODE_ENV: development
      context: .
      dockerfile: Dockerfile
      target: local-image
    environment:
      HTTPS: "true"
    restart: unless-stopped
    volumes:
      - .:/app

  proxy:
    image: clevyr/caddy
    environment:
      SITE_ADDRESS: localtest.me
      APP_ADDRESS: app:8000
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    volumes:
      - ~/.config/caddy:/data

  database:
    environment:
      POSTGRES_USER: "$DB_USERNAME"
      POSTGRES_PASSWORD: "$DB_PASSWORD"
      POSTGRES_DB: "$DB_DATABASE"
    image: postgres:15-alpine
    ports:
      - 127.0.0.1:5432:5432
    restart: unless-stopped
    volumes:
      - database:/var/lib/postgresql/data

  hot:
    image: node:16-alpine
    working_dir: /app
    command:
      - sh
      - -c
      - |
        set -eux
        npm install
        exec npm run watch
    environment:
      FONTAWESOME_NPM_AUTH_TOKEN: "$FONTAWESOME_NPM_AUTH_TOKEN"
      MIX_GOOGLE_API_KEY: "$MIX_GOOGLE_API_KEY"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - .:/app

  mail:
    image: clevyr/mailhog
    ports:
      - 127.0.0.1:25:25
    restart: unless-stopped
    stop_signal: SIGKILL

volumes:
  database:
