@use "transitions";
@import "@fontsource/zilla-slab/latin-300.css";
@import "@fontsource/zilla-slab/latin-500.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

:not(input, textarea)::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

svg.icon {
  display: inline;
  vertical-align: middle;
  transform: translateY(-5%);
}

@layer utilities {
  /*
    Chromium browsers don't render nested backdrop filters.
    As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':

      <div class="before:backdrop-blur-md before:backdrop-hack>
        <div class="backdrop-blur-md"></div>
      </div>

    See https://stackoverflow.com/a/76207141.
  */
  .backdrop-hack {
    @apply absolute inset-0 -z-10;
  }
}
