.svg-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    text-align: center;
    width: 1.25em;
    color: inherit;
    fill: none;
    stroke: currentColor;
    vertical-align: -9%;

    &.svg-fill {
        fill: currentColor;
        stroke: none;
    }

    &.svg-up {
        transform: rotate(-90deg);
    }

    &.svg-right {
        transform: rotate(0deg);
    }

    &.svg-down {
        transform: rotate(90deg);
    }

    &.svg-left {
        transform: rotate(180deg);
    }

    &.star-full {
        fill: $primary;
    }

    &.star-empty {
        fill: $white;
        opacity: 0.15;
    }

    &.svg-spin {
        animation: svg-spin 2s infinite linear;
    }

    &.svg-pulse {
        animation: svg-spin 1s infinite steps(8);
    }
}

@keyframes svg-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
